<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="listaFilmes">

    <ion-item-sliding *ngFor="let filme of listaFilmes">
      <ion-item lines="full">

        <ion-thumbnail slot="start">
          <img *ngIf="filme.cartaz" src="{{filme.cartaz}}" />
          <ion-icon></ion-icon>
        </ion-thumbnail>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>